.modalContainer {
    width: 800px;
    height: 500px;
}

.row {
    margin: 10px;
    :global { 
        i.idoll-icon-arrowdown{
        color:#5ecaaa;
        }
        i.idoll-icon-arrowup{
            color:red;
        }
    }
}

.col {
    padding-right:10px;
}

.divider {
    margin: 24px 5px;
}

.fixIcon {
    position: absolute;
    top: 9px;
    right: 17px;
    font-size: 18px;
    // color: #5ecaaa;
}

.info_180 {
    :global {
        span:first-child {
            width: 180px;
        }
    }
}

.info_80 {
    :global {
        span:first-child {
            width: 80px;
        }
        span:last-child{
            margin-right: 0;
        }
    }
}