@import '../../../style/theme/default/index.less';

.indicator {
  width: 100%;
  height: @input-height-base;
  font-size: 14px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;

  .monitoring {
    width: 65%;
    height: 100%;
    display: flex;
    color: #999;
    padding-left: 10px;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
    background-color: #f8f9fc;
  }
  .monitoring_data {
    height: 100%;
    display: flex;
    color: #999;
    padding-right: 20px;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
  }
}