.dataContainer {
  width: 100%;
  zoom: 1;
  border-top: 1px solid #ccc;
  margin-top: 20px; 

  &:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }

  .work {
    padding: 20px 0;
  }
}

.workContainer {
  float: left;
  margin:0 20px 0 20px;
}

.embarkationContainer {
  width: 162px;
  height: 80px;
  .embarkation {
    margin-bottom: 10px;
  }
}


.phoneContainer {
  float: left;
  margin-right: 20px;
  zoom: 1;

  &:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }

  .leftContent {
    float: left;
    margin-right: 10px;
  }
  .rightContent {
    float: left;
  } 

  .perAccumulate {
    width: 267px;
    height: 48px;
    margin-bottom: 12px;
  }
}
.perforContainer {
  float: left;

  .perforList {
    width: 212px;
    height: 34px;
    margin-bottom: 10px;
  } 
}
