.dataContainer {
  width: 100%;
  zoom: 1;

  &:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }

  .work {
    padding: 20px 0;
  }
}

.workContainer {
  float: left;
  margin:0 20px 0 20px;
}

.embarkationContainer {
  width: 162px;
  height: 80px;
  .embarkation {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
}


.phoneContainer {
  float: left;
  margin-right: 20px;
  zoom: 1;

  &:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }

  .leftContent {
    float: left;
    margin-right: 10px;
  }
  .rightContent {
    float: left;
  } 

  .perAccumulate {
    width: 267px;
    height: 48px;
    margin-bottom: 12px;

    .preTitle {
      width: 80%;
      padding: 13px 0 0 10px;
    }
  }
}
.perforContainer {
  float: left;

  .perforList {
    width: 212px;
    height: 34px;
    margin-bottom: 10px;

    .carInsurance {
      width: 70%;
      padding: 6px 0 0 10px;
    }
  } 
}
